:root {
  --orange-color: #ffa97a;
  --hover-color: #cb7343;
  --main-bg-color: #fefcfb;
  --input-bg-color: #ffdecc;
  --black-color: #292523;
  --gray-color: #7c706a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #e7ddd8;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background-color: #e7c7b7;
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background: #e9bba4;
}
body {
  background-color: var(--main-bg-color);
  color: var(--black-color);
  overflow-x: hidden;
  position: relative;
}
.main-wrapper {
  width: calc(100vw - 37%);
  margin: 0 auto;
  position: relative;
}
.landing-page {
  position: relative;
  display: flex;

  padding: 6.5em 0;
  padding-bottom: 10em;
  justify-content: space-between;
  align-items: center;
}
.social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: absolute;
  left: -6rem;
}
.social-icons img {
  margin-bottom: 2rem;
  cursor: pointer;
  height: 20px;
  width: 20px;
}
.my-desc {
  margin-right: 15px;
}
.me-img {
  width: 250px !important;
  margin-left: 10px;
  float: right;
}
.my-desc > h1,
.home-subtitle,
.home-description {
  margin-bottom: 1.5rem;
}
.my-desc h1 {
  font-size: 48px;
}
.home-subtitle {
  color: var(--gray-color);
  font-size: 20px;
  font-weight: 700;
}
a {
  color: var(--black-color);
  text-decoration: none;
}
.button {
  display: inline-block;
  background-color: var(--orange-color);
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  outline: none;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.button span {
  font-weight: bold;
  font-size: 1rem;
  margin-right: 7px;
}
.button:hover {
  background-color: var(--hover-color);
}
/* 
.header {
    box-shadow: 0 -1px 4px rgb(0 0 0 / 15%); 
}*/
.nav-container {
  padding: 1rem 0;
  font-size: 14px;
  display: flex;
  font-weight: 500;
  justify-content: space-around;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active-link {
  color: var(--orange-color);
}
.nav-item {
  margin: 0 1rem;
}
.home-scroll-btn {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: start;
  font-weight: bold;
  position: absolute;
  bottom: 3px;
  transition: all 0.3s ease-in-out;
}
.home-scroll-name {
  margin: 0 0.2rem;
}
.home-scroll-btn:hover {
  transform: translateY(0.25rem);
}
.about-me-section {
  margin: 12em 0;
}

/* GLOBAL STYLES */
.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
  flex-direction: column;
}
.section-wrapper:last-of-type {
  margin-bottom: 2rem;
  width: 100%;
}
.section-title {
  text-align: center;
}
.section-sides {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.error {
    margin-top: 1rem;
    color: crimson;
    text-align: center;
    font-weight: bold;
  }
  .error.contact {
      text-align: start;
      margin-bottom: 1.2rem;
  }
.work.section-sides {
  align-items: baseline;
  width: 74%;
}
.left-side {
  flex: 1;
}
.right-side {
  flex: 1;
}
.statistics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.statistics .stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.stats small {
  text-align: center;
  color: #7c706a;
  font-weight: weight;
}
.section-sides .top-header {
  display: flex;
  justify-content: start;
  align-items: center;
}
.top-header h2 {
  margin: 0 4px;
}
.skills-sides * {
  margin: 0 3px;
}
.progress-bar {
  height: 9px;
  position: relative;
  background: #ffe6d8;
  border-radius: 4px;
}
.progress-bar::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 4px;
  background-color: var(--orange-color);
}
.html-css::before {
  width: 90%;
}
.javascript::before {
  width: 85%;
}
.react::before {
  width: 94%;
}
.angular::before {
  width: 70%;
}
.nextjs::before {
  width: 90%;
}
.react-native::before {
  width: 85%;
}
.flutter::before {
  width: 85%;
}

/* BACKEND */
.node::before {
  width: 92%;
}
.firebase::before {
  width: 80%;
}
.python::before {
  width: 80%;
}
.php::before {
  width: 85%;
}
.codeigniter::before {
  width: 92%;
}

.skills-list {
  width: 85%;
  margin: 0 0 3rem 0.3rem;
  padding: 2rem 0;
}
.skill-card {
  position: relative;
  margin: 2rem 0;
  padding-top: 23px;
}
.skill-name {
  position: absolute;
  left: 1px;
  top: -3px;
  font-weight: 500;
}
.skill-percent {
  position: absolute;
  right: 1px;
  top: -3px;
}
.top-header img {
  cursor: pointer;
}

/* Qualification */
.work-card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.date-icon {
  height: 18px;
  width: 18px;
}
.date-p {
  display: flex;
  align-items: center;
}
.date-p img {
  margin-right: 0.4rem;
}
.work-card *:not(h4) {
  margin-top: 0.5rem;
}

.work-card {
  padding-left: 2rem;
  padding-bottom: 1.3rem;
}
.right-side .work-card {
  border-left: 2px solid #ecc6b1;
}
.work.left-side {
  flex: 1;
  margin: 2rem;
}
.work.right-side {
  flex: 1;
  position: relative;
}
.right-side .work-card h4::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-color: #ffa97a;
  border-radius: 50%;
  position: absolute;
  /* top: 0; */
  left: -0.6rem;
}
.orange-color {
  color: var(--orange-color);
}
.work-title {
  display: flex;
  align-items: center;
  margin: 2rem 0;
}
.work-title * {
  margin: 0 0.3rem;
}
.work-header {
  display: flex;
  justify-content: space-between;
}
.work-header .work-title {
  margin: 2rem 4rem 0 4rem;
}

/* PROJECTS */
.project-details p {
  margin: 1.2rem 0;
}
.project-img {
  margin: 2rem 0;
  width: 85%;
  border-radius: 2px;
  box-shadow: 0px 0px 0px 6px #cdcdcd;
  object-fit: cover;
}
.projects-sides {
  margin: 2rem 0;
  border-radius: 4px;
  width: 72%;
  position: relative;
  border-bottom: 1px dashed #b7b7b7;
}
.slider-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
}
.back-arrow {
  left: -6rem;
  top: 50%;
}
.next-arrow {
  right: -6rem;
  top: 50%;
}

/* CONTACT ME */
.pre-contact-wrapper {
  display: inline-block;
  width: 90%;
}
.project__container {
  background-color: var(--orange-color);
  border-radius: 1rem;
  padding: 2rem 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-weight: 500;
}
.project__img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.project__data {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-direction: column;
}
.project__data * {
  margin: 0.3rem 0;
}

.contact-btn {
  background-color: #fff;
  color: var(--orange-color);
}
.contact-btn:hover {
  background-color: #fff;
}
.input__container {
  background-color: var(--input-bg-color);
  padding: 0.9rem;
  margin: 1rem 0;
  height: 80px;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: column;
}
.contact-flex {
  display: flex;
}
.contact-flex .input__container:first-of-type {
  margin-right: 0.9rem;
}
.contact-flex .input__container {
  width: 49%;
}
.contact__label {
  font-size: 0.8rem;
}
.contact__input,
textarea {
  border: none;
  outline: none;
  height: 60%;
  font-size: 1rem;
  color: var(--gray-color);
  background-color: transparent;
}
.contact__label {
  font-weight: bold;
}
.input__container.textarea {
  height: 100%;
}
.contact-right-side {
  width: 65%;
}
.contact__information {
  display: flex;
  justify-content: start;
  width: 70%;
  margin: 1.3rem 0;
  align-items: center;
}
.contact__subtitle {
  color: var(--gray-color);
}
.contact__information img {
  width: 30px;
  height: 30px;
  margin-right: 1.2rem;
}
.contactme-sides {
  align-items: start;
}

/* BOTTOM NAVBAR */
.bottom-nav {
  position: fixed;
  height: 50px;
  background: #fff;
  display: none;
  bottom: 0;
  width: 100vw;
}

/* BLOG CARD */
.blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  margin: 1.4rem;
  width: 326px;
  background-color: #fff;
  box-shadow: 0 0 7px #bbbbbb99;
  border-radius: 0.5rem;
  transition: 0.3s all ease;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.card-header {
  width: 100%;
}

.card-header img {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.card-content {
  padding: 1rem;
}

.card-content span {
  background-color: #f78e56;
  color: #fff;
  font-weight: 300;
  font-size: 10px;
  padding: 0.5rem 0.75rem;
  border-radius: 1rem;
  text-transform: uppercase;
}

.card-content h3 {
  margin: 1rem 0 0.5rem 0;
}

.card-content p {
  font-size: 14px;
}

.card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.card-footer img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.card-footer .author {
  flex: 1;
  margin-left: 1rem;
}

.author p {
  font-weight: 700;
  font-size: 14px;
}

.author small {
  font-size: 12px;
}

/* Footer */
.footer {
  background-color: var(--orange-color);
  width: 100vw;
  color: #fff;
  padding: 3rem 0 0.6rem 0;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  margin-bottom: 5rem;
}
.footer__links {
  margin: 1.2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.footer__link {
  color: #fff;
  margin: 0 0.7rem;
}
.footer__copy {
  text-align: center;
  color: #3d3636;
  font-weight: 500;
}
.footer__socials img {
  margin: 0 0.4rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
}


/* RESPONSIVENESS */

@media only screen and (max-width: 1115px) {
  .social-icons {
    display: none;
  }
  .main-wrapper {
    padding: 0 2rem;
    width: calc(100vw - 5%);
  }
}
@media screen and (max-width: 854px) {
  .landing-page {
    flex-direction: column-reverse;
    align-items: start;
  }
  .section-sides {
    flex-direction: column;
    align-items: center;
  }
  .work.section-sides {
    align-items: center;
  }
  .contact-right-side {
    width: 94%;
  }
}

@media (max-width: 664px) {
  .project__container {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
  }
  .project__data {
    flex-direction: column;
  }
}
@media (max-width: 634px) {
  .header {
    display: none;
  }
  .bottom-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__container {
    flex-direction: column;
  }
  .contact-flex {
    flex-direction: column;
  }
  .contact-flex .input__container {
    width: 100%;
  }
}

@media screen and (max-width: 393px) {
    .my-desc h1 {
        font-size: 2em;
      } 
}
@media screen and (max-width: 360px) {
  .header {
    display: none;
  }
  .landing-page {
    flex-direction: column-reverse;
    padding-top: 3rem !important;
  }
  .me-img {
    width: 250px !important;
    float: right;
  }
  .main-wrapper {
    padding: 0 2rem;
    width: calc(100vw - 5%);
  }
  .projects-sides {
    width: 92% !important;
  }
  .project-img {
    width: 100%;
  }
}


/* SINGLE BLOG */
.single-blog-card {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin: 3rem 0;
}
.single-blog-card .inner {
    width: 91%;
    display: flex;
    margin: auto;
}
.single-blog-card .card-header {
    flex: 1;
}
.blog-details {
    flex: 1;
}
.single-blog-card .banner-img {
    height: 100%;
    object-fit: fill;
    border-radius: 5px;
}
.blog-details h2 {
    margin: 0.7rem 0;
}
.related-blogs {
    justify-content: center;
    margin: 2rem 0;
}
.related-blogs h2 {
    text-align: center;
    text-decoration: underline;
}